.page-content-container .has-secondary .page-header-main nav .nav-item a{
		color: $primary !important;
}

.course-bookmarks {
  .bookmarks-results-list {
    .bookmarks-results-list-item {
	    .list-item-breadcrumbtrail {
	          color: $primary !important;
	    }
	    p.list-item-right-section span {
	          color: $primary !important;
	    }

      &:hover {
        border-color: $primary !important;
        .list-item-breadcrumbtrail {
          color: $primary !important;
        }
      }
    }
    .bookmarks-results-list-item::before {
      color: $primary !important;
    }
  }
}

.wrapper-footer{ 
	footer#footer-openedx{
		max-width: 1920px;
		margin: 0px;
		ul, ol{
			margin: 0px;
		}
		.nav-legal a{
			color: $primary !important;
		}
		.copyright{
		    color: #767676 !important;
		}
                .wrapper-logo{
                    p{
                        text-align: right;
                        img{
                            height: 91px;
                        }
                    }
                }
                body.view-wiki &{
                    & .colophon{
                        margin-right: 0px;
                    }   
                }
	}
}

body.view-wiki .global-header .nav-links .secondary{
    margin: 15px 0 0 40px !important;
    & .dropdown-user-menu{
        right: inherit !important;
    }
}

body.view-instructordash, body.view-progress {
    .global-header .nav-links .secondary{
        margin: 15px 0 0 40px !important;
    }
}

.wrap-instructor-info .instructor-info-action:hover{
    color: #fff !important;
}

// index page banner image
.content-wrapper .banner-img{ margin: -20px -20px 0px -20px; }